<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/img/pregunga.png" [class.shake-animation]="isClicked" (click)="toggleAnimation()" alt="Imagen" id="shakeImage" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click) = "start()">Inicio</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button>Continuar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button>Contribuir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>